*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
}

/*Start Header Section*/
	
header{
	height: 95vh;
	/*background-image: url('./../assets/img/banner/banner8.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	position: relative;

	transition: all 2s linear;
}

/*start nav bar*/
.navbar{
	background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5));
}

.nav-link{
	font-size: 16px;
	color: #fff !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:focus{
	/*border: 0;
	outline: 0;*/
	box-shadow: none;
}

.dropdowns{
	position: relative;
}	

.dropbtn:hover{
	background: none !important;
}

.dropdown-contents{
	width: 230px;
	background-color: #f6f6f6;
	position: absolute;
	z-index: 10;
	display: none;
}

.dropdown-contents .search{
	width: 100%;
	background-image: url('./../assets/img/icon/searchicon.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 10px 5px 10px 40px;
}
.dropdown-contents .search:focus{
	outline: none;
}

.dropdown-contents a{
	color: #000;
	text-decoration: none;
	display: block;
	padding: 10px;
}
.dropdown-contents a:hover{
	background-color: #ddd;
}

.dropdown-contents.show{
	display: block;
}

/*end nav bar*/

/*start bannner*/
.banners{
	color: #fff;
	font-weight: 900;
	text-align: center;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.bannerheaders{
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3));
	border: 2px dashed #fff;
	padding: 20px;
	box-shadow: 10px 10px 100px 20px #000;

	animation-name: bnani;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.bannerparagraphs{
	animation-name: bnani;
	animation-duration: 2s;
	animation-delay: 2.5s;
	animation-fill-mode: backwards;
}

@keyframes bnani{
	from{
		transform: translateY(100px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}


/*end bannner*/

/*End Header Section*/